version: 2.1
executors:
  build-agent:
    docker:
      - image: gcr.io/spring-boot-e2e/java-build-agent:latest
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb
commands:
  setup_gcp:
    steps:
      - run: echo ${GCLOUD_SERVICE_KEY} > gcr_credentials.json
      - run: gcloud auth activate-service-account --key-file=gcr_credentials.json
      - run: gcloud config set project ${GCR_PROJECT_ID}
  docker_build:
    steps:
      - setup_remote_docker
      - run: docker build -t ${APP_NAME}:v1 .
      - run: docker tag ${APP_NAME}:v1 gcr.io/${GCR_PROJECT_ID}/${APP_NAME}:v1
  build_set_cluster:
    steps:
      - run: gcloud container clusters create spring-boot-e2e-cluster --num-nodes=2 --region=${GCR_SERVICE_REGION}
      - run: gcloud config set container/cluster spring-boot-e2e-cluster
  deploy_cluster:
    steps:
      - run: kubectl get pods
      - run: kubectl expose deployment demo --type=LoadBalancer --port 80 --target-port 8080
      - run: kubectl get service
  scale:
    steps:
      - run: kubectl scale deployment demo --replicas=3
      - run: kubectl get pods
jobs:
  build:
    executor: build-agent
    steps:
      - checkout
  build_image:
    executor: build-agent
    steps:
      - checkout
      - setup_gcp
      - run: gcloud auth configure-docker
      - docker_build
      - run: docker push gcr.io/${GCR_PROJECT_ID}/${APP_NAME}:v1
  deploy_dev:
    executor: build-agent
    steps:
      - attach_workspace:
          at: .
      - setup_gcp
      - build_set_cluster
      - deploy_cluster
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          context: development
      - build_image:
          context: development
          requires:
            - build
      - deploy_dev:
          context: development
          requires:
            - build_image